<div class="container">
  <nav class="navbar">
    <div class="row">
      <div class="dropdown col">
        <button
          class="btn btn-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Products
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="products/dashboard">View Prodcuts</a></li>
        </ul>
      </div>
      <div class="col">
        <button
          class="btn btn-secondary"
          routerLink="/rxjs"
        >
          RxJS
        </button>
      </div>
      <div class="col">
        <button
          class="btn btn-secondary"
          routerLink="/bootstrap"
        >
          Bootstrap
        </button>
      </div>
      <div class="col">
        <button
          class="btn btn-secondary"
          routerLink="/flexbox"
        >
        Flexbox
        </button>
      </div>
    </div>
  </nav>
</div>
