.text-danger {
  color: red;
}

.card {
  position: absolute;
  background: #f5efef;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin-left: 440px;
  margin-top: 20px;
}

.form-wrapper{
  padding: 50px 50px 50px 50px;
}

.login-btn{
  margin-top: 10px;
  margin-left: 120px;
}