<div class="card-wrapper container">
  <div class="card mt-3">
    <div class="form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            placeholder="Enter email"
            formControlName="email"
          />
          <div
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
            class="text-danger"
          >
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <div
            *ngIf="
              !loginForm.get('password').valid &&
              loginForm.get('password').touched
            "
            class="text-danger"
          >
            Password is required
          </div>
        </div>
        <div class="login-btn mt-2">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </form>
      <small>Don't have an account?.</small>
      <button class="btn btn-primary btn-sm" routerLink="register">Click here to Register</button>
    </div>
  </div>
</div>
