.text-danger {
  color: red;
}

.card-wrapper{
  align-content: center;
  width: 400px;
  height: 400px;
}
.card {
  background: #f5efef;
  border-radius: 20px;
}

.form-wrapper{
  padding: 50px 50px 50px 50px;
}

.login-btn{
  align-content: center;

}